@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cjgr5u');
  src:  url('../fonts/icomoon.eot?cjgr5u#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cjgr5u') format('truetype'),
    url('../fonts/icomoon.woff?cjgr5u') format('woff'),
    url('../fonts/icomoon.svg?cjgr5u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}